{% extends "base.html" %} {% load static %}
<title>{% block title %}Update Password{% endblock title %}</title>

{% block content %}

<div class="container mt-5 py-5 h-100">
    		<div class="row h-100">
				<div class="col-sm-12 col-md-8 col-lg-8 col-12 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">					

						<div class="card">
							<div class="card-body">

								{% for message in messages %}
								<div class="message">
									<small class= "alert alert-warning text-center">{{ message }}</small>
									<a href="#" class="del-msg"></a>
								</div>
								{% endfor %} 
								<h5 style="color: #247158" class ="text-center">Update Password</h5>

								<!-- Display form field errors -->
								{% for field in form %}
									{% for error in field.errors %}
										<div class="message">
											<small class="alert alert-danger">{{ error }}</small>
											<a href="#" class="del-msg"></a>
										</div>
									{% endfor %}
								{% endfor %}

								<div class="m-sm-4">
									<form method = "post">
										{% csrf_token %}
                                       
                                        {{form.as_p}}
										<button type="submit" class="btn btn-primary">Update</button>										
									</form>
									<hr>
									<div class="d-flex ">
										<a href="{% url "todo_list" %}" class= "text-decoration-none">Cancel</a>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

{% endblock content %}
