{% extends "base.html" %} {% load static %}
<title>{% block title %}Set new password{% endblock title %}</title>

{% block content %}

<div class="container mt-5 py-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-10 col-md-8 col-lg-6 mx-auto ">      
        <div class="card">
          <div class="card-body">            
             <h4 style="color:#247158">Set your new password.</h4>

              <form method="post" class= "" action = "{% url 'set_new_password' uidb64 token %}">
                {% csrf_token %} 
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingInput" autofocus=True  name="password1" required placeholder="enter your password">
                    <label for="floatingInput">Password</label>
                  </div>                  
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingInput" autofocus=True  name="password2" required placeholder="Re-enter your password">
                    <label for="floatingInput">Confirm Password</label>
                  </div>                  
                <button type="submit" class="btn btn-primary rounded-pill" style="width:80px" >Submit</button>
              </form>
              <hr/ class= "text-muted">
			   <a href="{% url "login" %}" class= "mt-2">Cancel</a>
            
          </div>
        </div>
        {% for message in messages %}
            <div class="message text-center">
              <small class="alert alert-danger ">{{ message }}</small>
              <a href="#" class="del-msg"></a>
            </div>
            {% endfor %}
     
    </div>
  </div>
</div>

{% endblock content %}
